.menu-btn {
  cursor: pointer;
  transition: all 0.5s ease-out;
  position: absolute;
  right: 35px;
  top: 35px;
  z-index: 3; }
  .menu-btn .btn-line {
    background: #fff;
    height: 3px;
    transition: all 0.5s ease-out;
    margin: 0 0 5px 0;
    width: 28px; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  opacity: 0.9;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    align-items: center;
    display: flex;
    float: left;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 50%; }
  .menu-nav {
    background: #373737;
    transition: all 0.5s ease-out;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate3d(0, -100%, 0); }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transition: all 0.5s ease-out;
    transform: translate3d(0, 100%, 0); }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .potrait {
      background: url("../images/p_2.jpg");
      border-radius: 50%;
      border: solid 3px #eece1a;
      height: 250px;
      width: 250px; }
  .menu .nav-item {
    transition: all 0.5s ease-out;
    transform: translate3d(600px, 0, 0); }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    color: #fff;
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    transition: all 0.5s ease-out;
    position: relative;
    padding: 1rem 0;
    text-transform: uppercase;
    text-decoration: none; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

html {
  font-size: 10px;
  height: 100%; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #444;
  color: #fff;
  font-family: Geneva, Verdana, sans-serif;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  body#bg-img {
    background: url(../images/02.jpg);
    background-attachment: fixed;
    background-size: cover; }
  body:after {
    background: rgba(68, 68, 68, 0.9);
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    background: rgba(73, 73, 73, 0.5);
    margin-bottom: 2rem;
    padding: 0.2rem 1rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
  main h1 {
    margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }

.bio-image {
  border-radius: 50%;
  border: #eece1a 3px solid;
  grid-area: bioimage;
  margin: auto; }

.bio {
  font-size: 1.5rem;
  grid-area: bio; }

.job-1 {
  grid-area: job1; }

.job-2 {
  grid-area: job2; }

.job-3 {
  grid-area: job3; }

.job {
  background: #515151;
  border-bottom: #eece1a 5px solid;
  padding: 0.5rem; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    border: solid 3px #fff;
    width: 100%; }
    .projects img:hover {
      border-color: #eece1a;
      transition: all 0.5s ease-out;
      opacity: 0.5; }

.boxes {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem; }
  .boxes div {
    border: solid 3px #fff;
    font-size: 2rem;
    transition: all 0.5s ease-out;
    margin-bottom: 3rem;
    padding: 1.5rem 2.5rem; }
    .boxes div:hover {
      background-color: #eece1a;
      color: #000;
      padding: 0.5rem 1.5rem; }
      .boxes div:hover span {
        color: #000; }

#contact {
  min-height: 100%; }

.btn, .btn-dark, .btn-light {
  border: 0;
  display: block;
  margin-bottom: 0.3rem;
  padding: 0.5rem 1rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  background: #2b2b2b;
  color: #fff;
  height: 60px;
  padding: 1.25rem;
  text-align: center; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    min-height: 0;
    width: 100%; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }

  .menu-nav {
    font-size: 24px;
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .potrait {
      background: url("../images/p_3.jpg");
      height: 150px;
      width: 150px; }

  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    grid-template-columns: 1fr; }

  .projects {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }

  .projects {
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=main.css.map */
